body {
  background-color: black;
  width: auto;
  max-height: 80vh;
}
.container {
  display: flex;
}

.col {
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  width: 16.5%;
  margin: 0 auto;
}

.clue,
#game {
  background-color: #060ce9;
  height: 112px;
  width: 247px;
  text-align: center;
  border: solid 3.2px darkgrey;
}

#game {
  background-color: purple;
  font-family: "Teko", sans-serif;
  line-height: 1px;
  font-size: 30px;
}
h2 {
  margin-top: 10%;
  font-size: 60px;
  color: white;
}
h1 {
  margin-top: 5%;
  font-size: 45px;
}
.open-button {
  cursor: pointer;
  background-color: #060ce9;
  color: white;
  border: none;
  height: 112px;
  width: 247px;
  visibility: visible;
}
#myModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0645e9;
  border: solid 5px white;
  width: 550px;
  max-width: 60%;
  height: 550px;
  max-height: 60%;
  visibility: hidden;
}
#close-button {
  color: lightgray;
  font-size: 24px;
  font-weight: bold;
}
#modalContent,
#answerContent {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-size: 40px;
}

#answerContent {
  font-size: 30px;
}
label {
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
}

#answerContent {
  visibility: hidden;
}

h6 {
  visibility: hidden;
}
#scoreboard {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 40px;
}
#score,
#prize {
  color: white;
  height: 40px;
  margin: 0 auto;
  font-size: 38px;
}

#check {
  margin-left: 40%;
}
